body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.capitalize {
  text-transform: capitalize;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.parameter-cell {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.navbar-inverse-header .navbar-nav > li > a {
  color: #222222;
}

.navbar-inverse-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-inverse-header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-inverse-header .navbar-brand img {
  max-height: 100%;
}
